/*Global Styles*/
a {
  color: #ff0000;
}
html, body {
  margin: 0;
  padding: 0;
}
h1 {
  font-size: 7vw;
  margin-top: 0;
}
/*Hero Styles*/
.full-hero {
  background-color: #c7dbfc;
  height: 50vh;
}
/*Page styles*/
.outside-link {
  bacground: rgba(150,150,150,.25);
  color: #0000ff;
}
.intro-wrapper {
  font-size: 24px;
}
.intro-box {
  border: 1px solid #000000;
  font-size: 1rem;
  width: 50%;
}
.intro-box h3 {
  font-size: 1.5em;
}
.intro-box a {
  color: #ffcc17;
}

/*Navigation styles*/
.nav-menu {
  text-align: right;
}
.nav-spacing {
  margin: 0 0 0 10px;
}
